body{
    background: rgba(255, 0, 64, 0.555);   
    margin - right: 70px;
    margin - left: 70px;
}

header{
    margin-top: 30px;
}

h1{
    color:red;
    font-family: fantasy;
}

p{
    font-size: 32px;
}